.bespoke-slide {
  background-color: #fff;
  padding: 20px;

  aside {
      display: none;
  }
}

.todo:before {
  content: "TODO: "
  color: #f00;
  font-style: italic;
  font-weight: bolder;
}

.title {
  text-align: left;
  font-weight: normal;

  .couchdb {
    font-weight: bolder;
    color: #f00;
  }
}

h2.full-slide {
  font-size: 70pt;
  text-align: left;
}

ul {
  margin: 10px 0;
  text-align: left;
}

address {
  margin-top: 30px;
  float: left;
  text-align: left;
  width: 100%;
  font-style: normal;
  line-height: 150%

  .bio {
    font-style: italic;
  }

  .author, a {
    font-weight: bolder;
  }

  a {
    color: inherit;
    &:hover {
      font-style: underline;
    }
  }

  ul {
    width: 100%;
    position: relative;

    list-style: none;

    li {
      float: left;
      text-align: center;
      width: 33.3%;

      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.couchdb-logo-big {
  width: 60%;
}

.sideBySide {
  flex-direction: row;
  width: 100%;

  pre {
    width: 48%;
    margin: 0.5em 0.4em;
    font-size: 52%;
    float: left;
    display: inline-block;
  }
}
