@import url("http://fonts.googleapis.com/css?family=Crete+Round");
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url("http://fonts.gstatic.com/s/creteround/v5/ZCcPJiCGOzh84o2siPk48YbN6UDyHWBl620a-IRfuBk.woff") format('woff'), url("/fonts/CreteRound.woff") format('woff');
}
.bespoke-slide {
  background-color: #fff;
  padding: 20px;
}
.bespoke-slide aside {
  display: none;
}
.todo:before {
  content: "TODO: ";
  color: #f00;
  font-style: italic;
  font-weight: bolder;
}
.title {
  text-align: left;
  font-weight: normal;
  font-family: 'Crete Round';
}
.title .couchdb {
  font-weight: bolder;
  color: #f00;
}
h2.full-slide {
  font-size: 70pt;
  text-align: left;
}
ul {
  margin: 10px 0;
  text-align: left;
}
ol {
  margin: 10px;
  text-align: left;
}
address {
  margin-top: 30px;
  float: left;
  text-align: right;
  width: 100%;
  font-style: normal;
  line-height: 150%;
}
address .bio {
  font-style: italic;
}
address .author,
address a {
  font-weight: bolder;
}
address a {
  color: inherit;
}
address a:hover {
  font-style: underline;
}
address .urls {
  padding-top: 26px;
}
address ul {
  width: 100%;
  position: relative;
  list-style: none;
}
address ul li {
  float: left;
  text-align: center;
  width: 33.3%;
}
address ul li:first-child {
  text-align: left;
}
address ul li:last-child {
  text-align: right;
}
.logo-big {
  width: 60%;
}
pre {
  font-size: 90%;
}
.sideBySide {
  flex-direction: row;
}
.sideBySide pre {
  margin: 0.5em 0.4em;
  font-size: 53%;
  float: left;
  display: inline-block;
  padding: 15px !important;
}
.sideBySide pre:first-child {
  margin-left: 0;
}
.sideBySide pre:last-child {
  margin-right: 0;
}
.copyrightNotice {
  width: 100%;
  font-size: 70%;
  color: #888;
}
.diagram {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.in-place-transition {
  width: 100%;
  margin: 0;
  text-align: inherit;
}
.in-place-transition .bespoke-bullet-inactive {
  opacity: 0;
  display: none;
}
li .in-place-transition .bespoke-bullet-inactive {
  transform: translateX(0);
}
.in-place-transition .bespoke-bullet-active {
  opacity: 0;
  display: none;
}
.in-place-transition .bespoke-bullet-current,
.in-place-transition .bespoke-bullet-active:last-of-type,
.in-place-transition .bespoke-bullet-inactive:first-of-type {
  opacity: 1;
  display: inherit;
}
